<p-card header="Listado de Pokemon" [style]="{ 'margin-top': '3%' }">
  <div>
    <div>
      <p-button
        label="Crear Pokemon"
        [text]="true"
        [raised]="true"
        severity="help"
        routerLink="/creacion-pokemon"
      ></p-button>
    </div>
    <br />
    <div>
      <p-table [value]="pokemonList" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Tamano</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pokemon>
          <tr>
            <td>{{ pokemon.nombre }}</td>
            <td>{{ pokemon.tipo }}</td>
            <td>{{ pokemon.tamano }}</td>
            <td>
              <p-button
                label="Delete"
                [text]="true"
                [raised]="true"
                severity="warn"
                (onClick)="deletePokemon($event,pokemon)"
              ></p-button>
              <p-button
                label="Actualizar"
                [text]="true"
                [raised]="true"
                severity="warn"
                (onClick)="updatePokemon(pokemon)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>


<p-confirmDialog></p-confirmDialog>
